body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: white;
  vertical-align: middle;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.player-div {
  display: inline-block;
  margin: 30px 50px;
  font-size: 1.5rem;
  font-style: italic;
}

.player-img {
  width: 100px;
  height: 100px;
}

.status-img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 10px auto;
}

.button-div {
  display: inline-block;
  /* padding: 30px; */
  margin: auto;
}

.btn-reset {
  padding: 5px 15px;
  margin: auto;
}
